/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.slick-prev
		{
		    left: -5px !important;
		}
	.slick-next
		{
		    right: -5px !important;
		}
	.schedule-img{
		position: static;
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.schedule__item{
		width: 97%;
	}
	.schedule__item:after{
		position: static;
		margin: 5px auto;
	}
		

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu{
		display: none;
		position: absolute;
		background: rgba(255, 255, 255, .8);
		top:90px;
		left:5%;
		right:5%;
		text-align: center;
		border-radius: 5px;
		z-index: 9;
		
	}
	.menu__item{
		display: block;
		
	}
	.menu__item a{
		text-transform: uppercase;
		font-weight: bold;
	}
	.menu__item_active a{
		color: #3B5998;
		background-color: transparent;
	}
	.menu__item::before{
		display: none;
	}
	.menu_icon{
		display: block;
	}
	.cource-details span{
		padding: 10px 18px;
	}
	.header-content span {
		font-size: 35px;
	}
	span.time{
		font-size: 25px;
		vertical-align: 5px;
	}
	.about_schedule_title::before,
	.about_schedule_title::after{
		display: none;
	}
	.liedetector__price{
		font-size: 40px;
	}
	.feedback__img_wrap,
	.feedback__txt_wrap{
		float: none;
		text-align: center;
		margin: 0 auto;
	}

	.feedback__txt_wrap{
		height: 164px !important;
		overflow: hidden;
		min-height: 164px;
		margin: 0 auto;
		padding-bottom: 10px;
	}
	.feedback__txt_wrap p{
	}
	.result__item{
		width: 95%;
	}
	.result__img{
		display: block;
		margin: 0 auto;
	}
	.author_title{
		margin-bottom: 15px;
	}
	.author__info__list li{
		font-size: 14px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	span.time{
		text-decoration: underline;
	}
	.registr-btn::before, .registr-btn::after {
		display: none;
	}
	span.cource-name:hover.cource-name::before,
	span.cource-name:hover.cource-name::after {
  		display: none; 
  	}
  	.about_content__txt{
  		font-size: 16px;
  		line-height: 20px;
  	}
  	.author_title{
  		font-size: 27px
  	}
  	.author__info__list li{
		font-size: 12px;
	}
	.footer__content div{
		display: block;	
	}
	.footer__content div::after{
		display: none;
		
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header-content span {
		font-size: 25px;
	}
	span.time{
		font-size: 20px;
		vertical-align: 4px;
	}
	.cource-details span{
		padding: 7px 12px;
	}
	.study_txt_main{
		font-size: 17px;
	}
	.study_txt_sub{
		font-size: 14px;
	}
	.value_txt{
		top:5px;
		font-size: 14px;
		letter-spacing: -1px;
	}
	.about_content__item {
    	width: 25%;
   		margin: 0 12% 30px 12%;
    }
    .schedule-img{
    	max-width: 95%;
    }
    .schedule__item{
    	height: 300px;
    }
    .liedetector img{
    	margin-left: 0;
    	margin-bottom: 20px;
    }
    .about_content__txt{
    	font-size: 14px;
    	line-height: 18px;
    }
    .feedback__name{
    	font-size: 31px;
    }
    .feedback__img_wrap{
    	padding: 0;
    }
    .result__img{
    	max-width: 90%;
    }
    .result__item{
    	min-height: 170px;
    }
    .smbn{
    	display: none;
    }
    .author_title_name{
    	font-size: 30px;
    }
    .registr__form_item{
    	width: 97%;
    }
    .registr__form_title{
    	font-size: 16px;
    }
    .registr__form_footer{
    	font-size: 13px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.header-content{
		padding-top: 210px;
	}
	.registr-btn{
		font-size: 17px;
	}
	.cource-details span{
		padding: 7px 10px;
	}
	.about_content__txt {
    	font-size: 13px;
    	line-height: 16px;
	}
	.section_title{
		font-size: 32px;
	}
	.schedule__item{
		height: 240px;
	}
	.author__info__list li{
		font-size: 13px;
		line-height: 20px;
	}
		
		
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu{
		display:block!important;
		
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}