/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
		

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu{
		display: none;
		position: absolute;
		background: #fff;
		top:90px;
		left:5%;
		right:5%;
		text-align: center;
		
	}
	.menu__item{
		display: block;
		
	}
	.menu__item a{
		text-transform: uppercase;
		font-weight: bold;
	}
	.menu__item:hover{

	}
	.menu__item_active a{
		color: #3B5998;
		background-color: transparent;
	}
	.menu__item a:hover{
		
	}
	.menu__item::before{
		display: none;
	}
	i.fa-bars{
		display: block;
	}
	.menu_icon{
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
		
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
		
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
		
		
		
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu{
		display:block!important;
		
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}